html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    width: 50%;
    margin: auto;
}

h1 {
    font-size: 23px;
    margin-bottom: 10px;
}
div{
    margin:0;
}

.result-approved{
    color: #22b14c;
}

.result-rejected{
    color: #ed2931;
}

.result-explanation{
    margin-bottom: 20px;
    font-style: italic;
}

.header-p {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.chart-container {
    margin: auto;
    cursor: pointer;
    width: fit-content;
}

.chart-header{
    position: relative;
    top: 25px;
    font-size: 16px;
    color: #333;
    text-align: center;
    z-index: 1;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.summary-table {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 20px 0 30px 0;
    width: 100%;
}

.aprobed-color{
    background-color: #c2ffd4;
}

.rejected-color{
    background-color: #ffc3c3;
}

.summary-wcag-caption {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-bottom: 5px;

}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td:not(:last-child) {
    border-right: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}


td:last-child,
#general-summary-container td:nth-child(2),
#general-summary-container td:nth-child(3),
.url-summary-container td:nth-last-child(2) {
    text-align: center;
}

#general-summary-container tr:hover,
.un-met-criteria:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

tr:last-child>td {
    border-bottom: none;
}

ol {
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li .chart-header{
    flex-basis: calc(30% - 5px);
}


li.card{
    flex-basis: calc(50% - 16px);
}
.card {
    
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card:focus {
    border: 1.5px solid black;
  }


.card .html-content {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* .card+.card {
    margin-left: 20px;
} */

.title {
    font-weight: bold;
}

.code {
    font-weight: bold;
    position: relative;
    
}

.break-all {
    word-break: break-all !important;
}

.tooltiptext {
    font-weight: normal;
    visibility: hidden;
    width: 300px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -32%;
  }
  

  .code .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
  }

  .code:hover .tooltiptext {
    visibility: visible;
  }
  

.card-head {
    border-top-right-radius: 6.6px;
    border-top-left-radius: 6.6px;
    border-bottom: 1px solid #ddd;
    padding: 20px 20px 5px 20px;
    background-color: #ffc3c3;
}

.card-body {
    padding: 0 20px 20px 20px;

}

.card h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.card p {
    margin-bottom: 10px;
}