<div id="_ID_URL_SUMMARY_TABLE" class="url-summary-container">
    <table class="summary-table">
        <caption class="summary-wcag-caption _URL_SUMMARY_CAPTION_COLOR">_URL_ANALYZED</caption>
        <thead>
            <tr>
                <th class="summary-table-th">Principio</th>
                <th class="summary-table-th">Pauta</th>
                <th class="summary-table-th">Criterio de conformidad</th>
                <th class="summary-table-th">Nivel</th>
                <th class="summary-table-th">Cumple</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="summary-table-first-td" rowspan="14">Perceptible</td>
                <td class="summary-table-second-td">1.1 Alternativas textuales</td>
                <td class="summary-table-third-td">1.1.1 Contenido no textual</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_1.1.1_ONCLICK_IF_UNMET
                <!--<td class="summary-table-last-td" ><img height="20px" width="20px" ></td>-->
            </tr>
            <tr>
                <td rowspan="5" class="summary-table-second-td">1.2 Contenido multimedia dependiente del tiempo</td>
                <td class="summary-table-third-td">1.2.1 Sólo audio y sólo vídeo (pregrabado)</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_1.2.1_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">1.2.2 Subtítulos (pregrabados)</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_1.2.2_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">1.2.3 Audiodescripción o alternativa multimedia (pregrabada)</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_1.2.3_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">1.2.4 Subtítulos (directo)</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_1.2.4_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">1.2.5 Audiodescripción (pregrabada)</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_1.2.5_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td rowspan="3" class="summary-table-second-td">1.3 Adaptabilidad</td>
                <td class="summary-table-third-td">1.3.1 Información y relaciones</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_1.3.1_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">1.3.2 Secuencia significativa</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_1.3.2_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">1.3.3 Características sensoriales</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_1.3.3_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td rowspan="5" class="summary-table-second-td">1.4 Distinguible</td>
                <td class="summary-table-third-td">1.4.1 Empleo del color</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_1.4.1_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">1.4.2 Control del audio</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_1.4.2_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">1.4.3 Contraste (mínimo)</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_1.4.3_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">1.4.4 Cambio de tamaño del texto</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_1.4.4_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">1.4.5 Imagenes de texto</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_1.4.5_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-first-td" rowspan="12">Operabilidad</td>
                <td rowspan="2" class="summary-table-second-td">2.1 Accesible a través del teclado</td>
                <td class="summary-table-third-td">2.1.1 Teclado</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_2.1.1_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">2.1.2 Sin trampa de teclado</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_2.1.2_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td rowspan="2" class="summary-table-second-td">2.2 Tiempo suficiente</td>
                <td class="summary-table-third-td">2.2.1 Límite de tiempo ajustable</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_2.2.1_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">2.2.2 Pausar, detener, ocultar</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_2.2.2_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-second-td">2.3 Ataques</td>
                <td class="summary-table-third-td">2.3.1 Tres destellos o por debajo del umbral</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_2.3.1_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td rowspan="7" class="summary-table-second-td">2.4 Navegable</td>
                <td class="summary-table-third-td">2.4.1 Saltar bloques</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_2.4.1_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">2.4.2 Página titulada</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_2.4.2_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">2.4.3 Orden de foco</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_2.4.3_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">2.4.4 Propósito de un vínculo (en su contexto)</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_2.4.4_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">2.4.5 Múltiples medios</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_2.4.5_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">2.4.6 Encabezados y etiquetas</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_2.4.6_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">2.4.7 Foco visible</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_2.4.7_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-first-td" rowspan="10">Comprensibilidad</td>
                <td rowspan="2" class="summary-table-second-td">3.1 Legible</td>
                <td class="summary-table-third-td">3.1.1 Idioma de la página</td>
                <td class="summary-table-fourth-td">A</td>
                 _IMG_MET_CRITERIA_3.1.1_ONCLICK_IF_UNMET 
            </tr>
            <tr>
                <td class="summary-table-third-td">3.1.2 Idioma de partes</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_3.1.2_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td rowspan="4" class="summary-table-second-td">3.2 Predecible</td>
                <td class="summary-table-third-td">3.2.1 Con foco</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_3.2.1_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">3.2.2 Con entrada de datos</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_3.2.2_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">3.2.3 Navegación consistente</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_3.2.3_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">3.2.4 Navegación consistente</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_3.2.4_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td rowspan="4" class="summary-table-second-td">3.3 Ayuda a la entrada de datos</td>
                <td class="summary-table-third-td">3.3.1 Identificación de errores</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_3.3.1_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">3.3.2 Instrucciones o etiquetas</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_3.3.2_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">3.3.3 Sugerencia tras error</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_3.3.3_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">3.3.4 Prevención de errores (legales, financieros, de datos)</td>
                <td class="summary-table-fourth-td">AA</td>
                _IMG_MET_CRITERIA_3.3.4_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-first-td" rowspan="2">Robustez</td>
                <td rowspan="2" class="summary-table-second-td">4.1 Compatible</td>
                <td class="summary-table-third-td">4.1.1 Interpretación</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_4.1.1_ONCLICK_IF_UNMET
            </tr>
            <tr>
                <td class="summary-table-third-td">4.1.2 Nombre, rol, valor</td>
                <td class="summary-table-fourth-td">A</td>
                _IMG_MET_CRITERIA_4.1.2_ONCLICK_IF_UNMET
            </tr>
        </tbody>
    </table>
</div>
_ERRORS_CARDS
